/*
Theme: Soft Spoken
Author: Ian Beck <http://onecrayon.com>

The Soft Spoken CSS uses a combination of border images and CSS gradients to achieve its look because current versions of WebKit do not process single pixel borders on rounded corners well enough (there's usually a couple of pixels of background color bleeding through on the outer edge).

The approach for both user images and the speech bubbles is that the border image has a transparent middle and solid external color. For the bubbles, the background image is a very light CSS gradient that overlays the background color, giving it the "bubbled" look.

Because the center of the border-image is transparent, you can easily change the color of the bubble (or the border around user images) by changing the background color.  On hover, a different set of border images is used to match the active background.

The down side of this method is that it is much more difficult to change the gray background of the window because you need to adjust the gray in the CSS and in the images. However, the PSDs should make this pretty simple if you feel like doing that (just remember to export for web, and the slices will take care of the rest).

I love WebKit. This kind of border-image magic is still years away from being viable on the mainstream web.
*/

/* Styles background of Kiwi window and do a general reset of styles */

body {
	background-color: rgba(210,210,210,1.0);
	-webkit-user-select: none;
	word-wrap: break-word;
	widows: 100%;
	overflow-x: hidden;
	font: 12px/1.33 "Helvetica Neue";
	margin: 0;
	padding: 0;
	border: 0;
}

.account {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

.timeline {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Styles links and Twiter @ mentions and # hash tags */

:link {
	text-decoration: none;
}

.tweet .text .link {
	work-wrap: break-word;
	color: #4B83CD;
}

.tweet .text .link:hover {
	text-decoration: underline;
}

.tweet .text .mention,
.tweet .text .hashtag {
	display: inline;
	word-break: break-word;
	font-weight: bold;
	/* We bump the line-height down a pixel to properly align two-line replies with the images */
	line-height: .9375;
}

.tweet .text .hashtag {
	color: #9f9f9f;
}

.tweet .text .mention:hover,
.tweet .text .hashtag:hover {
	text-decoration: underline;
}

/* Styles the look and feel of the tweets */

.tweet {
	display: block;
	position: relative;
	margin: 0;
	padding: 5px 0 3px;
	border-top: 1px solid rgb(210, 210, 210);
	border-bottom: 1px solid rgb(210, 210, 210);
}

.tweet-inner {
	display: block;
	position: relative;
}

.tweet-inner:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.tweet .bubble {
	display: block;
	position: relative;
	top: -1px;
	background: #f7f7f7 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), color-stop(.2, rgba(255, 255, 255, 0)), color-stop(.85, rgba(0, 0, 0, .03)), to(rgba(0, 0, 0, .1)));
	overflow: visible;
	min-height: 68px;
	margin: 0 8px 0 73px;
	border-width: 19px 12px 12px 17px;
	-webkit-border-image: url('images/tab-inactive.png') 19 12 12 17 repeat;
	-webkit-background-origin: border-box;
	-webkit-box-sizing: border-box;
}

.tweet .bubble-inner {
	position: relative;
	top: -10px;
	margin: 0 0 -12px;
}

.tweet .text {
	-webkit-user-select: text;
	clear: right;
	padding-top: 3px;
}

.tweet .recipient {
	font-style: italic;
	padding-bottom: 3px;
	display: none;
}

.tweet.direct .recipient {
	display: block;
}

.tweet .name {
	float: left;
	font-weight: bold;
}

.tweet .date {
	float: right;
	font-weight: normal;
	font-size: 10px;
	line-height: 1.6;
	color: #9f9f9f;
}

.tweet .image {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	margin: 0 8px;
	background-color: #fff;
	overflow: hidden;
	border-width: 9px;
	-webkit-border-image: url('images/image-inactive.png') 9 9 9 9 repeat;
}

.tweet .image img {
	width: 48px;
	height: 48px;
	cursor: pointer;
}

.tweet .retweetAuthor {
	font-size: 10px;
	line-height: 1.6;
	color: #9f9f9f;
	font-weight: normal;
	position: relative;
	top: -3px;
	margin: 0 0 -1px;
}

.retweetAuthor .retweetSymbol {
	content: url('images/retweet.png');
	position: relative;
	top: 3px;
	margin: 0 3px 0 0;
}

.tweet img.retweetImage {
	display: none;
	position: absolute;
	z-index: 10;
	top: 40px;
	left: 48px;
	width: 28px;
	height: 28px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .4);
	background-color: white;
}

.tweet.retweet img.retweetImage {
	display: block;
}

.tweet.me img.retweetImage {
	left: auto;
	top: 40px;
	right: 48px;
}

/* Selected tweets */

.tweet.selected {
	background: #ddd;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	-webkit-mask: url('images/fadeout.png') repeat-y;
	-webkit-mask-position: right top;
}

.tweet.selected .bubble {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, .3)));
	-webkit-border-image: url('images/tab-active.png') 19 12 12 17 repeat;
}

.tweet.selected .image {
	-webkit-border-image: url('images/image-active.png') 9 9 9 9 repeat;
}

/* User's tweets */

.tweet.me .bubble {
	margin: 0 73px 0 8px;
	border-width: 19px 17px 12px 12px;
	-webkit-border-image: url('images/tab-inactive-reverse.png') 19 17 12 12 repeat;
}

.tweet.selected.me .bubble {
	-webkit-border-image: url('images/tab-active-reverse.png') 19 17 12 12 repeat;
}

.tweet.me .text {
	clear: left;
}

.tweet.me .image {
	float: right;
}

/* New tweets */

.tweet.new .name {
	color: #4B83CD;
}

/* Mentions */

.tweet.mentionMe .bubble {
	background-color: #d2f2fd;
}

/* Direct messages */

.tweet.direct .bubble {
	background-color: #e4ffe3;
}

/* Color tags; keeping it simple for this theme. If people want to support color labels, they can hack that in themselves or use a different theme. */

.tweet.tag .bubble {
	background-color: #ffd5d4;
}

/* Reply button */

.reply-button {
	float: right;
	width: 11px;
	height: 12px;
	border: 0;
	margin: 2px 0 0 5px;
	padding: 0;
	background: url('images/reply.png') no-repeat 0 0;
	cursor: pointer;
}

.reply-button:hover {
	background: url('images/reply.png') no-repeat -16px 0px;
}

/* Favorites button. Currently not displayed, because honestly who does that often enough to need a button? */

.tweet.me .favorite-button, .tweet.direct .favorite-button {
	display: none;
}

.favorite-button {
	display: block;
	position: absolute;
	top: 3px;
	right: 11px;
	width: 13px;
	height: 13px;
	border: 0;
	margin: 0;
	padding: 0;
	background: url('images/fav.png') no-repeat 0 0;
	cursor: pointer;
	opacity: 0;
}

.tweet:hover .favorite-button {
	background: url('images/fav.png') no-repeat 0 0px;
	opacity: 0.25;
}

.tweet .favorite-button:hover {
	background: url('images/fav.png') no-repeat 0 0px;
	opacity: 0.75;
}

.tweet.favorite .favorite-button {
	background: url('images/fav.png') no-repeat 0 -13px;
	opacity: 1;
}

/* This junk was in the theme that I started modifying; no idea if it's really necessary, but may as well leave it */

.tweet.direct .attribution {
	display: none;
}

#profileWrapper {
	z-index: 10000;
}

/* This helps to prevent the graphics flash that otherwise occurs when selecting tweets the first time after launching the program */

#softspoken-preloader {
	background: url('images/tab-active.png') top left no-repeat, url('images/tab-active-reverse.png') top center no-repeat, url('images/image-active.png') top right no-repeat;
	height: 1px;
	overflow: hidden;
	opacity: .00001;
}

/* Description page width constraint */

#constraint {
	max-width: 365px;
	margin: 5px auto -5px;
}